@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700|Volkhov:400,700);
/* line 5, ../../../components/sass/_bootstrap.scss */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  /* line 13, ../../../components/sass/_bootstrap.scss */
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  /* line 18, ../../../components/sass/_bootstrap.scss */
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  /* line 23, ../../../components/sass/_bootstrap.scss */
  .container {
    width: 1170px;
  }
}
/* line 28, ../../../components/sass/_bootstrap.scss */
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* line 34, ../../../components/sass/_bootstrap.scss */
.row {
  margin-right: -15px;
  margin-left: -15px;
}

/* line 38, ../../../components/sass/_bootstrap.scss */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 44, ../../../components/sass/_bootstrap.scss */
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

/* line 47, ../../../components/sass/_bootstrap.scss */
.col-xs-12 {
  width: 100%;
}

/* line 50, ../../../components/sass/_bootstrap.scss */
.col-xs-11 {
  width: 91.66666667%;
}

/* line 53, ../../../components/sass/_bootstrap.scss */
.col-xs-10 {
  width: 83.33333333%;
}

/* line 56, ../../../components/sass/_bootstrap.scss */
.col-xs-9 {
  width: 75%;
}

/* line 59, ../../../components/sass/_bootstrap.scss */
.col-xs-8 {
  width: 66.66666667%;
}

/* line 62, ../../../components/sass/_bootstrap.scss */
.col-xs-7 {
  width: 58.33333333%;
}

/* line 65, ../../../components/sass/_bootstrap.scss */
.col-xs-6 {
  width: 50%;
}

/* line 68, ../../../components/sass/_bootstrap.scss */
.col-xs-5 {
  width: 41.66666667%;
}

/* line 71, ../../../components/sass/_bootstrap.scss */
.col-xs-4 {
  width: 33.33333333%;
}

/* line 74, ../../../components/sass/_bootstrap.scss */
.col-xs-3 {
  width: 25%;
}

/* line 77, ../../../components/sass/_bootstrap.scss */
.col-xs-2 {
  width: 16.66666667%;
}

/* line 80, ../../../components/sass/_bootstrap.scss */
.col-xs-1 {
  width: 8.33333333%;
}

/* line 83, ../../../components/sass/_bootstrap.scss */
.col-xs-pull-12 {
  right: 100%;
}

/* line 86, ../../../components/sass/_bootstrap.scss */
.col-xs-pull-11 {
  right: 91.66666667%;
}

/* line 89, ../../../components/sass/_bootstrap.scss */
.col-xs-pull-10 {
  right: 83.33333333%;
}

/* line 92, ../../../components/sass/_bootstrap.scss */
.col-xs-pull-9 {
  right: 75%;
}

/* line 95, ../../../components/sass/_bootstrap.scss */
.col-xs-pull-8 {
  right: 66.66666667%;
}

/* line 98, ../../../components/sass/_bootstrap.scss */
.col-xs-pull-7 {
  right: 58.33333333%;
}

/* line 101, ../../../components/sass/_bootstrap.scss */
.col-xs-pull-6 {
  right: 50%;
}

/* line 104, ../../../components/sass/_bootstrap.scss */
.col-xs-pull-5 {
  right: 41.66666667%;
}

/* line 107, ../../../components/sass/_bootstrap.scss */
.col-xs-pull-4 {
  right: 33.33333333%;
}

/* line 110, ../../../components/sass/_bootstrap.scss */
.col-xs-pull-3 {
  right: 25%;
}

/* line 113, ../../../components/sass/_bootstrap.scss */
.col-xs-pull-2 {
  right: 16.66666667%;
}

/* line 116, ../../../components/sass/_bootstrap.scss */
.col-xs-pull-1 {
  right: 8.33333333%;
}

/* line 119, ../../../components/sass/_bootstrap.scss */
.col-xs-pull-0 {
  right: auto;
}

/* line 122, ../../../components/sass/_bootstrap.scss */
.col-xs-push-12 {
  left: 100%;
}

/* line 125, ../../../components/sass/_bootstrap.scss */
.col-xs-push-11 {
  left: 91.66666667%;
}

/* line 128, ../../../components/sass/_bootstrap.scss */
.col-xs-push-10 {
  left: 83.33333333%;
}

/* line 131, ../../../components/sass/_bootstrap.scss */
.col-xs-push-9 {
  left: 75%;
}

/* line 134, ../../../components/sass/_bootstrap.scss */
.col-xs-push-8 {
  left: 66.66666667%;
}

/* line 137, ../../../components/sass/_bootstrap.scss */
.col-xs-push-7 {
  left: 58.33333333%;
}

/* line 140, ../../../components/sass/_bootstrap.scss */
.col-xs-push-6 {
  left: 50%;
}

/* line 143, ../../../components/sass/_bootstrap.scss */
.col-xs-push-5 {
  left: 41.66666667%;
}

/* line 146, ../../../components/sass/_bootstrap.scss */
.col-xs-push-4 {
  left: 33.33333333%;
}

/* line 149, ../../../components/sass/_bootstrap.scss */
.col-xs-push-3 {
  left: 25%;
}

/* line 152, ../../../components/sass/_bootstrap.scss */
.col-xs-push-2 {
  left: 16.66666667%;
}

/* line 155, ../../../components/sass/_bootstrap.scss */
.col-xs-push-1 {
  left: 8.33333333%;
}

/* line 158, ../../../components/sass/_bootstrap.scss */
.col-xs-push-0 {
  left: auto;
}

/* line 161, ../../../components/sass/_bootstrap.scss */
.col-xs-offset-12 {
  margin-left: 100%;
}

/* line 164, ../../../components/sass/_bootstrap.scss */
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

/* line 167, ../../../components/sass/_bootstrap.scss */
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

/* line 170, ../../../components/sass/_bootstrap.scss */
.col-xs-offset-9 {
  margin-left: 75%;
}

/* line 173, ../../../components/sass/_bootstrap.scss */
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

/* line 176, ../../../components/sass/_bootstrap.scss */
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

/* line 179, ../../../components/sass/_bootstrap.scss */
.col-xs-offset-6 {
  margin-left: 50%;
}

/* line 182, ../../../components/sass/_bootstrap.scss */
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

/* line 185, ../../../components/sass/_bootstrap.scss */
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

/* line 188, ../../../components/sass/_bootstrap.scss */
.col-xs-offset-3 {
  margin-left: 25%;
}

/* line 191, ../../../components/sass/_bootstrap.scss */
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

/* line 194, ../../../components/sass/_bootstrap.scss */
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

/* line 197, ../../../components/sass/_bootstrap.scss */
.col-xs-offset-0 {
  margin-left: 0;
}

@media (min-width: 768px) {
  /* line 201, ../../../components/sass/_bootstrap.scss */
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  /* line 204, ../../../components/sass/_bootstrap.scss */
  .col-sm-12 {
    width: 100%;
  }

  /* line 207, ../../../components/sass/_bootstrap.scss */
  .col-sm-11 {
    width: 91.66666667%;
  }

  /* line 210, ../../../components/sass/_bootstrap.scss */
  .col-sm-10 {
    width: 83.33333333%;
  }

  /* line 213, ../../../components/sass/_bootstrap.scss */
  .col-sm-9 {
    width: 75%;
  }

  /* line 216, ../../../components/sass/_bootstrap.scss */
  .col-sm-8 {
    width: 66.66666667%;
  }

  /* line 219, ../../../components/sass/_bootstrap.scss */
  .col-sm-7 {
    width: 58.33333333%;
  }

  /* line 222, ../../../components/sass/_bootstrap.scss */
  .col-sm-6 {
    width: 50%;
  }

  /* line 225, ../../../components/sass/_bootstrap.scss */
  .col-sm-5 {
    width: 41.66666667%;
  }

  /* line 228, ../../../components/sass/_bootstrap.scss */
  .col-sm-4 {
    width: 33.33333333%;
  }

  /* line 231, ../../../components/sass/_bootstrap.scss */
  .col-sm-3 {
    width: 25%;
  }

  /* line 234, ../../../components/sass/_bootstrap.scss */
  .col-sm-2 {
    width: 16.66666667%;
  }

  /* line 237, ../../../components/sass/_bootstrap.scss */
  .col-sm-1 {
    width: 8.33333333%;
  }

  /* line 240, ../../../components/sass/_bootstrap.scss */
  .col-sm-pull-12 {
    right: 100%;
  }

  /* line 243, ../../../components/sass/_bootstrap.scss */
  .col-sm-pull-11 {
    right: 91.66666667%;
  }

  /* line 246, ../../../components/sass/_bootstrap.scss */
  .col-sm-pull-10 {
    right: 83.33333333%;
  }

  /* line 249, ../../../components/sass/_bootstrap.scss */
  .col-sm-pull-9 {
    right: 75%;
  }

  /* line 252, ../../../components/sass/_bootstrap.scss */
  .col-sm-pull-8 {
    right: 66.66666667%;
  }

  /* line 255, ../../../components/sass/_bootstrap.scss */
  .col-sm-pull-7 {
    right: 58.33333333%;
  }

  /* line 258, ../../../components/sass/_bootstrap.scss */
  .col-sm-pull-6 {
    right: 50%;
  }

  /* line 261, ../../../components/sass/_bootstrap.scss */
  .col-sm-pull-5 {
    right: 41.66666667%;
  }

  /* line 264, ../../../components/sass/_bootstrap.scss */
  .col-sm-pull-4 {
    right: 33.33333333%;
  }

  /* line 267, ../../../components/sass/_bootstrap.scss */
  .col-sm-pull-3 {
    right: 25%;
  }

  /* line 270, ../../../components/sass/_bootstrap.scss */
  .col-sm-pull-2 {
    right: 16.66666667%;
  }

  /* line 273, ../../../components/sass/_bootstrap.scss */
  .col-sm-pull-1 {
    right: 8.33333333%;
  }

  /* line 276, ../../../components/sass/_bootstrap.scss */
  .col-sm-pull-0 {
    right: auto;
  }

  /* line 279, ../../../components/sass/_bootstrap.scss */
  .col-sm-push-12 {
    left: 100%;
  }

  /* line 282, ../../../components/sass/_bootstrap.scss */
  .col-sm-push-11 {
    left: 91.66666667%;
  }

  /* line 285, ../../../components/sass/_bootstrap.scss */
  .col-sm-push-10 {
    left: 83.33333333%;
  }

  /* line 288, ../../../components/sass/_bootstrap.scss */
  .col-sm-push-9 {
    left: 75%;
  }

  /* line 291, ../../../components/sass/_bootstrap.scss */
  .col-sm-push-8 {
    left: 66.66666667%;
  }

  /* line 294, ../../../components/sass/_bootstrap.scss */
  .col-sm-push-7 {
    left: 58.33333333%;
  }

  /* line 297, ../../../components/sass/_bootstrap.scss */
  .col-sm-push-6 {
    left: 50%;
  }

  /* line 300, ../../../components/sass/_bootstrap.scss */
  .col-sm-push-5 {
    left: 41.66666667%;
  }

  /* line 303, ../../../components/sass/_bootstrap.scss */
  .col-sm-push-4 {
    left: 33.33333333%;
  }

  /* line 306, ../../../components/sass/_bootstrap.scss */
  .col-sm-push-3 {
    left: 25%;
  }

  /* line 309, ../../../components/sass/_bootstrap.scss */
  .col-sm-push-2 {
    left: 16.66666667%;
  }

  /* line 312, ../../../components/sass/_bootstrap.scss */
  .col-sm-push-1 {
    left: 8.33333333%;
  }

  /* line 315, ../../../components/sass/_bootstrap.scss */
  .col-sm-push-0 {
    left: auto;
  }

  /* line 318, ../../../components/sass/_bootstrap.scss */
  .col-sm-offset-12 {
    margin-left: 100%;
  }

  /* line 321, ../../../components/sass/_bootstrap.scss */
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  /* line 324, ../../../components/sass/_bootstrap.scss */
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  /* line 327, ../../../components/sass/_bootstrap.scss */
  .col-sm-offset-9 {
    margin-left: 75%;
  }

  /* line 330, ../../../components/sass/_bootstrap.scss */
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  /* line 333, ../../../components/sass/_bootstrap.scss */
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  /* line 336, ../../../components/sass/_bootstrap.scss */
  .col-sm-offset-6 {
    margin-left: 50%;
  }

  /* line 339, ../../../components/sass/_bootstrap.scss */
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  /* line 342, ../../../components/sass/_bootstrap.scss */
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  /* line 345, ../../../components/sass/_bootstrap.scss */
  .col-sm-offset-3 {
    margin-left: 25%;
  }

  /* line 348, ../../../components/sass/_bootstrap.scss */
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  /* line 351, ../../../components/sass/_bootstrap.scss */
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  /* line 354, ../../../components/sass/_bootstrap.scss */
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  /* line 359, ../../../components/sass/_bootstrap.scss */
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  /* line 362, ../../../components/sass/_bootstrap.scss */
  .col-md-12 {
    width: 100%;
  }

  /* line 365, ../../../components/sass/_bootstrap.scss */
  .col-md-11 {
    width: 91.66666667%;
  }

  /* line 368, ../../../components/sass/_bootstrap.scss */
  .col-md-10 {
    width: 83.33333333%;
  }

  /* line 371, ../../../components/sass/_bootstrap.scss */
  .col-md-9 {
    width: 75%;
  }

  /* line 374, ../../../components/sass/_bootstrap.scss */
  .col-md-8 {
    width: 66.66666667%;
  }

  /* line 377, ../../../components/sass/_bootstrap.scss */
  .col-md-7 {
    width: 58.33333333%;
  }

  /* line 380, ../../../components/sass/_bootstrap.scss */
  .col-md-6 {
    width: 50%;
  }

  /* line 383, ../../../components/sass/_bootstrap.scss */
  .col-md-5 {
    width: 41.66666667%;
  }

  /* line 386, ../../../components/sass/_bootstrap.scss */
  .col-md-4 {
    width: 33.33333333%;
  }

  /* line 389, ../../../components/sass/_bootstrap.scss */
  .col-md-3 {
    width: 25%;
  }

  /* line 392, ../../../components/sass/_bootstrap.scss */
  .col-md-2 {
    width: 16.66666667%;
  }

  /* line 395, ../../../components/sass/_bootstrap.scss */
  .col-md-1 {
    width: 8.33333333%;
  }

  /* line 398, ../../../components/sass/_bootstrap.scss */
  .col-md-pull-12 {
    right: 100%;
  }

  /* line 401, ../../../components/sass/_bootstrap.scss */
  .col-md-pull-11 {
    right: 91.66666667%;
  }

  /* line 404, ../../../components/sass/_bootstrap.scss */
  .col-md-pull-10 {
    right: 83.33333333%;
  }

  /* line 407, ../../../components/sass/_bootstrap.scss */
  .col-md-pull-9 {
    right: 75%;
  }

  /* line 410, ../../../components/sass/_bootstrap.scss */
  .col-md-pull-8 {
    right: 66.66666667%;
  }

  /* line 413, ../../../components/sass/_bootstrap.scss */
  .col-md-pull-7 {
    right: 58.33333333%;
  }

  /* line 416, ../../../components/sass/_bootstrap.scss */
  .col-md-pull-6 {
    right: 50%;
  }

  /* line 419, ../../../components/sass/_bootstrap.scss */
  .col-md-pull-5 {
    right: 41.66666667%;
  }

  /* line 422, ../../../components/sass/_bootstrap.scss */
  .col-md-pull-4 {
    right: 33.33333333%;
  }

  /* line 425, ../../../components/sass/_bootstrap.scss */
  .col-md-pull-3 {
    right: 25%;
  }

  /* line 428, ../../../components/sass/_bootstrap.scss */
  .col-md-pull-2 {
    right: 16.66666667%;
  }

  /* line 431, ../../../components/sass/_bootstrap.scss */
  .col-md-pull-1 {
    right: 8.33333333%;
  }

  /* line 434, ../../../components/sass/_bootstrap.scss */
  .col-md-pull-0 {
    right: auto;
  }

  /* line 437, ../../../components/sass/_bootstrap.scss */
  .col-md-push-12 {
    left: 100%;
  }

  /* line 440, ../../../components/sass/_bootstrap.scss */
  .col-md-push-11 {
    left: 91.66666667%;
  }

  /* line 443, ../../../components/sass/_bootstrap.scss */
  .col-md-push-10 {
    left: 83.33333333%;
  }

  /* line 446, ../../../components/sass/_bootstrap.scss */
  .col-md-push-9 {
    left: 75%;
  }

  /* line 449, ../../../components/sass/_bootstrap.scss */
  .col-md-push-8 {
    left: 66.66666667%;
  }

  /* line 452, ../../../components/sass/_bootstrap.scss */
  .col-md-push-7 {
    left: 58.33333333%;
  }

  /* line 455, ../../../components/sass/_bootstrap.scss */
  .col-md-push-6 {
    left: 50%;
  }

  /* line 458, ../../../components/sass/_bootstrap.scss */
  .col-md-push-5 {
    left: 41.66666667%;
  }

  /* line 461, ../../../components/sass/_bootstrap.scss */
  .col-md-push-4 {
    left: 33.33333333%;
  }

  /* line 464, ../../../components/sass/_bootstrap.scss */
  .col-md-push-3 {
    left: 25%;
  }

  /* line 467, ../../../components/sass/_bootstrap.scss */
  .col-md-push-2 {
    left: 16.66666667%;
  }

  /* line 470, ../../../components/sass/_bootstrap.scss */
  .col-md-push-1 {
    left: 8.33333333%;
  }

  /* line 473, ../../../components/sass/_bootstrap.scss */
  .col-md-push-0 {
    left: auto;
  }

  /* line 476, ../../../components/sass/_bootstrap.scss */
  .col-md-offset-12 {
    margin-left: 100%;
  }

  /* line 479, ../../../components/sass/_bootstrap.scss */
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  /* line 482, ../../../components/sass/_bootstrap.scss */
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  /* line 485, ../../../components/sass/_bootstrap.scss */
  .col-md-offset-9 {
    margin-left: 75%;
  }

  /* line 488, ../../../components/sass/_bootstrap.scss */
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  /* line 491, ../../../components/sass/_bootstrap.scss */
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  /* line 494, ../../../components/sass/_bootstrap.scss */
  .col-md-offset-6 {
    margin-left: 50%;
  }

  /* line 497, ../../../components/sass/_bootstrap.scss */
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  /* line 500, ../../../components/sass/_bootstrap.scss */
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  /* line 503, ../../../components/sass/_bootstrap.scss */
  .col-md-offset-3 {
    margin-left: 25%;
  }

  /* line 506, ../../../components/sass/_bootstrap.scss */
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  /* line 509, ../../../components/sass/_bootstrap.scss */
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  /* line 512, ../../../components/sass/_bootstrap.scss */
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  /* line 517, ../../../components/sass/_bootstrap.scss */
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  /* line 520, ../../../components/sass/_bootstrap.scss */
  .col-lg-12 {
    width: 100%;
  }

  /* line 523, ../../../components/sass/_bootstrap.scss */
  .col-lg-11 {
    width: 91.66666667%;
  }

  /* line 526, ../../../components/sass/_bootstrap.scss */
  .col-lg-10 {
    width: 83.33333333%;
  }

  /* line 529, ../../../components/sass/_bootstrap.scss */
  .col-lg-9 {
    width: 75%;
  }

  /* line 532, ../../../components/sass/_bootstrap.scss */
  .col-lg-8 {
    width: 66.66666667%;
  }

  /* line 535, ../../../components/sass/_bootstrap.scss */
  .col-lg-7 {
    width: 58.33333333%;
  }

  /* line 538, ../../../components/sass/_bootstrap.scss */
  .col-lg-6 {
    width: 50%;
  }

  /* line 541, ../../../components/sass/_bootstrap.scss */
  .col-lg-5 {
    width: 41.66666667%;
  }

  /* line 544, ../../../components/sass/_bootstrap.scss */
  .col-lg-4 {
    width: 33.33333333%;
  }

  /* line 547, ../../../components/sass/_bootstrap.scss */
  .col-lg-3 {
    width: 25%;
  }

  /* line 550, ../../../components/sass/_bootstrap.scss */
  .col-lg-2 {
    width: 16.66666667%;
  }

  /* line 553, ../../../components/sass/_bootstrap.scss */
  .col-lg-1 {
    width: 8.33333333%;
  }

  /* line 556, ../../../components/sass/_bootstrap.scss */
  .col-lg-pull-12 {
    right: 100%;
  }

  /* line 559, ../../../components/sass/_bootstrap.scss */
  .col-lg-pull-11 {
    right: 91.66666667%;
  }

  /* line 562, ../../../components/sass/_bootstrap.scss */
  .col-lg-pull-10 {
    right: 83.33333333%;
  }

  /* line 565, ../../../components/sass/_bootstrap.scss */
  .col-lg-pull-9 {
    right: 75%;
  }

  /* line 568, ../../../components/sass/_bootstrap.scss */
  .col-lg-pull-8 {
    right: 66.66666667%;
  }

  /* line 571, ../../../components/sass/_bootstrap.scss */
  .col-lg-pull-7 {
    right: 58.33333333%;
  }

  /* line 574, ../../../components/sass/_bootstrap.scss */
  .col-lg-pull-6 {
    right: 50%;
  }

  /* line 577, ../../../components/sass/_bootstrap.scss */
  .col-lg-pull-5 {
    right: 41.66666667%;
  }

  /* line 580, ../../../components/sass/_bootstrap.scss */
  .col-lg-pull-4 {
    right: 33.33333333%;
  }

  /* line 583, ../../../components/sass/_bootstrap.scss */
  .col-lg-pull-3 {
    right: 25%;
  }

  /* line 586, ../../../components/sass/_bootstrap.scss */
  .col-lg-pull-2 {
    right: 16.66666667%;
  }

  /* line 589, ../../../components/sass/_bootstrap.scss */
  .col-lg-pull-1 {
    right: 8.33333333%;
  }

  /* line 592, ../../../components/sass/_bootstrap.scss */
  .col-lg-pull-0 {
    right: auto;
  }

  /* line 595, ../../../components/sass/_bootstrap.scss */
  .col-lg-push-12 {
    left: 100%;
  }

  /* line 598, ../../../components/sass/_bootstrap.scss */
  .col-lg-push-11 {
    left: 91.66666667%;
  }

  /* line 601, ../../../components/sass/_bootstrap.scss */
  .col-lg-push-10 {
    left: 83.33333333%;
  }

  /* line 604, ../../../components/sass/_bootstrap.scss */
  .col-lg-push-9 {
    left: 75%;
  }

  /* line 607, ../../../components/sass/_bootstrap.scss */
  .col-lg-push-8 {
    left: 66.66666667%;
  }

  /* line 610, ../../../components/sass/_bootstrap.scss */
  .col-lg-push-7 {
    left: 58.33333333%;
  }

  /* line 613, ../../../components/sass/_bootstrap.scss */
  .col-lg-push-6 {
    left: 50%;
  }

  /* line 616, ../../../components/sass/_bootstrap.scss */
  .col-lg-push-5 {
    left: 41.66666667%;
  }

  /* line 619, ../../../components/sass/_bootstrap.scss */
  .col-lg-push-4 {
    left: 33.33333333%;
  }

  /* line 622, ../../../components/sass/_bootstrap.scss */
  .col-lg-push-3 {
    left: 25%;
  }

  /* line 625, ../../../components/sass/_bootstrap.scss */
  .col-lg-push-2 {
    left: 16.66666667%;
  }

  /* line 628, ../../../components/sass/_bootstrap.scss */
  .col-lg-push-1 {
    left: 8.33333333%;
  }

  /* line 631, ../../../components/sass/_bootstrap.scss */
  .col-lg-push-0 {
    left: auto;
  }

  /* line 634, ../../../components/sass/_bootstrap.scss */
  .col-lg-offset-12 {
    margin-left: 100%;
  }

  /* line 637, ../../../components/sass/_bootstrap.scss */
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  /* line 640, ../../../components/sass/_bootstrap.scss */
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  /* line 643, ../../../components/sass/_bootstrap.scss */
  .col-lg-offset-9 {
    margin-left: 75%;
  }

  /* line 646, ../../../components/sass/_bootstrap.scss */
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  /* line 649, ../../../components/sass/_bootstrap.scss */
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  /* line 652, ../../../components/sass/_bootstrap.scss */
  .col-lg-offset-6 {
    margin-left: 50%;
  }

  /* line 655, ../../../components/sass/_bootstrap.scss */
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  /* line 658, ../../../components/sass/_bootstrap.scss */
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  /* line 661, ../../../components/sass/_bootstrap.scss */
  .col-lg-offset-3 {
    margin-left: 25%;
  }

  /* line 664, ../../../components/sass/_bootstrap.scss */
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  /* line 667, ../../../components/sass/_bootstrap.scss */
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  /* line 670, ../../../components/sass/_bootstrap.scss */
  .col-lg-offset-0 {
    margin-left: 0;
  }
}
/* line 5, ../../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../../components/sass/_base.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 7, ../../../components/sass/_base.scss */
*:focus {
  outline: 0;
}

/* line 11, ../../../components/sass/_base.scss */
html {
  height: 100%;
}

/* line 13, ../../../components/sass/_base.scss */
body {
  background-color: #404040;
  height: 100%;
}

/* line 18, ../../../components/sass/_base.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 20, ../../../components/sass/_base.scss */
.row {
  margin: 0;
  padding: 0;
}

/* line 25, ../../../components/sass/_base.scss */
a {
  color: #fff;
  text-decoration: none;
}

/* line 31, ../../../components/sass/_base.scss */
a:hover {
  cursor: pointer;
}

@keyframes blink {
  0% {
    background-color: #044353;
    opacity: 1;
  }
  25% {
    background-color: #044353;
    opacity: .75;
  }
  50% {
    background-color: #044353;
    opacity: .50;
  }
  75% {
    background-color: #044353;
    opacity: .25;
  }
  100% {
    background-color: #044353;
    opacity: 0;
  }
}
/* line 64, ../../../components/sass/_base.scss */
.animation {
  width: 100%;
  height: 100%;
  background-color: transparent;
  animation-name: blink;
  animation-duration: 4s;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  animation-iteration-count: 1;
  z-index: 10;
}

/* line 78, ../../../components/sass/_base.scss */
.animation img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 15%;
}
@media (min-width: 320px) and (max-width: 479px) {
  /* line 78, ../../../components/sass/_base.scss */
  .animation img {
    margin-top: 17%;
    width: 70%;
  }
}
@media (min-width: 480px) and (max-width: 599px) {
  /* line 78, ../../../components/sass/_base.scss */
  .animation img {
    margin-top: 17%;
    width: 70%;
  }
}
@media (min-width: 600px) and (max-width: 839px) {
  /* line 78, ../../../components/sass/_base.scss */
  .animation img {
    margin-top: 17%;
    width: 50%;
  }
}

/* line 101, ../../../components/sass/_base.scss */
.wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
}
@media (min-width: 480px) and (max-width: 599px) {
  /* line 101, ../../../components/sass/_base.scss */
  .wrapper {
    width: 100%;
  }
}
@media (min-width: 600px) and (max-width: 839px) {
  /* line 101, ../../../components/sass/_base.scss */
  .wrapper {
    width: 100%;
  }
}
@media (min-width: 840px) and (max-width: 959px) {
  /* line 101, ../../../components/sass/_base.scss */
  .wrapper {
    width: 100%;
  }
}
@media (min-width: 960px) and (max-width: 1023px) {
  /* line 101, ../../../components/sass/_base.scss */
  .wrapper {
    width: 85%;
  }
}
@media (min-width: 1024px) {
  /* line 101, ../../../components/sass/_base.scss */
  .wrapper {
    width: 77%;
  }
}

/* line 130, ../../../components/sass/_base.scss */
h1 {
  font-size: 2em;
  font-weight: 900;
  padding: 15px 0;
}
@media (min-width: 480px) and (max-width: 599px) {
  /* line 130, ../../../components/sass/_base.scss */
  h1 {
    font-size: 2em;
  }
}
@media (min-width: 600px) and (max-width: 839px) {
  /* line 130, ../../../components/sass/_base.scss */
  h1 {
    font-size: 2em;
  }
}
@media (min-width: 840px) and (max-width: 959px) {
  /* line 130, ../../../components/sass/_base.scss */
  h1 {
    font-size: 2.5em;
  }
}
@media (min-width: 960px) and (max-width: 1023px) {
  /* line 130, ../../../components/sass/_base.scss */
  h1 {
    font-size: 2.5em;
  }
}
@media (min-width: 1024px) {
  /* line 130, ../../../components/sass/_base.scss */
  h1 {
    font-size: 3em;
  }
}

/* line 157, ../../../components/sass/_base.scss */
h2 {
  font-size: 1.250em;
  font-weight: 900;
}

/* line 163, ../../../components/sass/_base.scss */
p {
  font-size: 1em;
  line-height: 1.2em;
}

/* line 168, ../../../components/sass/_base.scss */
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 1, ../../../components/sass/modules/article.scss */
article {
  background-color: #fff;
  color: #404040;
}
@media (min-width: 480px) and (max-width: 599px) {
  /* line 1, ../../../components/sass/modules/article.scss */
  article {
    width: 100%;
    float: none;
  }
}
@media (min-width: 600px) and (max-width: 839px) {
  /* line 1, ../../../components/sass/modules/article.scss */
  article {
    width: 100%;
    float: none;
  }
}
@media (min-width: 600px) and (max-width: 839px) {
  /* line 1, ../../../components/sass/modules/article.scss */
  article {
    width: 100%;
    float: none;
  }
}
@media (min-width: 840px) and (max-width: 959px) {
  /* line 1, ../../../components/sass/modules/article.scss */
  article {
    width: 67%;
    float: right;
  }
}
@media (min-width: 960px) and (max-width: 1023px) {
  /* line 1, ../../../components/sass/modules/article.scss */
  article {
    width: 67%;
    float: right;
  }
}
@media (min-width: 1024px) {
  /* line 1, ../../../components/sass/modules/article.scss */
  article {
    width: 70%;
    float: right;
  }
}
/* line 37, ../../../components/sass/modules/article.scss */
article .container-fluid .row header {
  padding-top: 20px;
}
/* line 39, ../../../components/sass/modules/article.scss */
article .container-fluid .row header hgroup {
  font-family: "Volkhov", "Georgia", "times-new-roman";
}
/* line 41, ../../../components/sass/modules/article.scss */
article .container-fluid .row header hgroup h1 {
  color: #fdc20e;
}
/* line 44, ../../../components/sass/modules/article.scss */
article .container-fluid .row header hgroup h2 {
  color: #044353;
  margin: 15px 0;
}
/* line 49, ../../../components/sass/modules/article.scss */
article .container-fluid .row header p {
  font-family: "Raleway", "arial", "san-serif";
  padding: 15px 0;
}
/* line 54, ../../../components/sass/modules/article.scss */
article .container-fluid .row h1 {
  color: #fdc20e;
  font-family: "Volkhov", "Georgia", "times-new-roman";
}
/* line 59, ../../../components/sass/modules/article.scss */
article .container-fluid .row .image-block img {
  width: auto;
  display: inline-block;
  margin: 15px 15px 15px 0;
}
@media (min-width: 320px) and (max-width: 479px) {
  /* line 64, ../../../components/sass/modules/article.scss */
  article .container-fluid .row .image-block img:nth-child(1) {
    width: 48%;
  }
}
@media (min-width: 480px) and (max-width: 599px) {
  /* line 64, ../../../components/sass/modules/article.scss */
  article .container-fluid .row .image-block img:nth-child(1) {
    width: 47%;
  }
}
@media (min-width: 600px) and (max-width: 839px) {
  /* line 64, ../../../components/sass/modules/article.scss */
  article .container-fluid .row .image-block img:nth-child(1) {
    width: 24%;
  }
}
@media (min-width: 840px) and (max-width: 959px) {
  /* line 64, ../../../components/sass/modules/article.scss */
  article .container-fluid .row .image-block img:nth-child(1) {
    width: 21%;
  }
}
@media (min-width: 960px) and (max-width: 1023px) {
  /* line 64, ../../../components/sass/modules/article.scss */
  article .container-fluid .row .image-block img:nth-child(1) {
    width: 18%;
  }
}
@media (min-width: 1024px) {
  /* line 64, ../../../components/sass/modules/article.scss */
  article .container-fluid .row .image-block img:nth-child(1) {
    width: 18%;
  }
}
@media (min-width: 320px) and (max-width: 479px) {
  /* line 90, ../../../components/sass/modules/article.scss */
  article .container-fluid .row .image-block img:nth-child(2) {
    width: 58%;
  }
}
@media (min-width: 480px) and (max-width: 599px) {
  /* line 90, ../../../components/sass/modules/article.scss */
  article .container-fluid .row .image-block img:nth-child(2) {
    width: 57%;
  }
}
@media (min-width: 600px) and (max-width: 839px) {
  /* line 90, ../../../components/sass/modules/article.scss */
  article .container-fluid .row .image-block img:nth-child(2) {
    width: 30%;
  }
}
@media (min-width: 840px) and (max-width: 959px) {
  /* line 90, ../../../components/sass/modules/article.scss */
  article .container-fluid .row .image-block img:nth-child(2) {
    width: 24%;
  }
}
@media (min-width: 960px) and (max-width: 1023px) {
  /* line 90, ../../../components/sass/modules/article.scss */
  article .container-fluid .row .image-block img:nth-child(2) {
    width: 22%;
  }
}
@media (min-width: 1024px) {
  /* line 90, ../../../components/sass/modules/article.scss */
  article .container-fluid .row .image-block img:nth-child(2) {
    width: 22%;
  }
}
@media (min-width: 320px) and (max-width: 479px) {
  /* line 117, ../../../components/sass/modules/article.scss */
  article .container-fluid .row .image-block img:nth-child(3) {
    width: 75%;
  }
}
@media (min-width: 480px) and (max-width: 599px) {
  /* line 117, ../../../components/sass/modules/article.scss */
  article .container-fluid .row .image-block img:nth-child(3) {
    width: 74%;
  }
}
@media (min-width: 600px) and (max-width: 839px) {
  /* line 117, ../../../components/sass/modules/article.scss */
  article .container-fluid .row .image-block img:nth-child(3) {
    width: 36%;
  }
}
@media (min-width: 840px) and (max-width: 959px) {
  /* line 117, ../../../components/sass/modules/article.scss */
  article .container-fluid .row .image-block img:nth-child(3) {
    width: 30%;
  }
}
@media (min-width: 960px) and (max-width: 1023px) {
  /* line 117, ../../../components/sass/modules/article.scss */
  article .container-fluid .row .image-block img:nth-child(3) {
    width: 28%;
  }
}
@media (min-width: 1024px) {
  /* line 117, ../../../components/sass/modules/article.scss */
  article .container-fluid .row .image-block img:nth-child(3) {
    width: 28%;
  }
}

/* line 2, ../../../components/sass/_mixins.scss */
.exRow:before, .exRow:after {
  content: '';
  display: table;
}
/* line 7, ../../../components/sass/_mixins.scss */
.exRow:after {
  clear: both;
}
/* line 154, ../../../components/sass/modules/article.scss */
.exRow .exIcon {
  position: absolute;
  width: 1%;
  float: left;
  margin-right: 2%;
}
/* line 160, ../../../components/sass/modules/article.scss */
.exRow .exIcon img {
  margin: 3px 5px 0 0;
}
/* line 163, ../../../components/sass/modules/article.scss */
.exRow .exIcon .verticalLine {
  border-left: 2px solid #044353;
  content: "";
  position: relative;
  left: 9px;
  top: 5px;
  opacity: .2;
}
/* line 173, ../../../components/sass/modules/article.scss */
.exRow .exParagraph {
  width: 95%;
  float: right;
}
@media (min-width: 320px) and (max-width: 479px) {
  /* line 173, ../../../components/sass/modules/article.scss */
  .exRow .exParagraph {
    width: 90%;
  }
}
@media (min-width: 480px) and (max-width: 599px) {
  /* line 173, ../../../components/sass/modules/article.scss */
  .exRow .exParagraph {
    width: 93%;
  }
}
@media (min-width: 600px) and (max-width: 839px) {
  /* line 173, ../../../components/sass/modules/article.scss */
  .exRow .exParagraph {
    width: 93%;
  }
}
@media (min-width: 840px) and (max-width: 959px) {
  /* line 173, ../../../components/sass/modules/article.scss */
  .exRow .exParagraph {
    width: 93%;
  }
}
@media (min-width: 960px) and (max-width: 1023px) {
  /* line 173, ../../../components/sass/modules/article.scss */
  .exRow .exParagraph {
    width: 93%;
  }
}
@media (min-width: 1024px) {
  /* line 173, ../../../components/sass/modules/article.scss */
  .exRow .exParagraph {
    width: 95%;
  }
}
/* line 201, ../../../components/sass/modules/article.scss */
.exRow .exParagraph p {
  font-family: "Raleway", "arial", "san-serif";
  color: #404040;
  margin-bottom: 15px;
  line-height: 1.4em;
}
/* line 207, ../../../components/sass/modules/article.scss */
.exRow .exParagraph p .eHeader {
  font: 900 1.125em "Raleway", "arial", "san-serif";
  color: #044353;
}
/* line 211, ../../../components/sass/modules/article.scss */
.exRow .exParagraph p .pos {
  font: 500 1em "Raleway", "arial", "san-serif";
  color: #044353;
}
/* line 215, ../../../components/sass/modules/article.scss */
.exRow .exParagraph p .city {
  font: 900 0.875em "Raleway", "arial", "san-serif";
  color: #044353;
}

/* line 224, ../../../components/sass/modules/article.scss */
.fbLine {
  height: 55px;
}
@media (min-width: 320px) and (max-width: 479px) {
  /* line 224, ../../../components/sass/modules/article.scss */
  .fbLine {
    height: 180px;
  }
}
@media (min-width: 480px) and (max-width: 599px) {
  /* line 224, ../../../components/sass/modules/article.scss */
  .fbLine {
    height: 178px;
  }
}
@media (min-width: 600px) and (max-width: 839px) {
  /* line 224, ../../../components/sass/modules/article.scss */
  .fbLine {
    height: 55px;
  }
}
@media (min-width: 840px) and (max-width: 959px) {
  /* line 224, ../../../components/sass/modules/article.scss */
  .fbLine {
    height: 55px;
  }
}
@media (min-width: 960px) and (max-width: 1023px) {
  /* line 224, ../../../components/sass/modules/article.scss */
  .fbLine {
    height: 55px;
  }
}
@media (min-width: 1024px) {
  /* line 224, ../../../components/sass/modules/article.scss */
  .fbLine {
    height: 55px;
  }
}

/* line 252, ../../../components/sass/modules/article.scss */
footer {
  color: #fff;
  background-color: #044353;
}
@media (min-width: 840px) and (max-width: 959px) {
  /* line 252, ../../../components/sass/modules/article.scss */
  footer {
    display: none;
  }
}
@media (min-width: 960px) and (max-width: 1023px) {
  /* line 252, ../../../components/sass/modules/article.scss */
  footer {
    display: none;
  }
}
@media (min-width: 1024px) {
  /* line 252, ../../../components/sass/modules/article.scss */
  footer {
    display: none;
  }
}
/* line 268, ../../../components/sass/modules/article.scss */
footer .btn-top {
  background: none;
  width: 180px;
  height: 50px;
  border: 1px solid #fdc20e;
  padding: 10px;
  margin: 15px;
}
/* line 276, ../../../components/sass/modules/article.scss */
footer .btn-top a {
  color: #fdc20e;
  font: "Volkhov", "Georgia", "times-new-roman" 1em 900;
  transition: color .75s ease;
  -webkit-transition: color .75s ease;
  -moz-transition: color .75s ease;
  -o-transition: color .75s ease;
}
/* line 285, ../../../components/sass/modules/article.scss */
footer .btn-top a:hover {
  color: #ffffff;
  cursor: pointer;
}

/* line 1, ../../../components/sass/modules/aside.scss */
aside {
  background-color: #044353;
  color: #fff;
}
@media (min-width: 480px) and (max-width: 599px) {
  /* line 1, ../../../components/sass/modules/aside.scss */
  aside {
    width: 100%;
    float: none;
  }
}
@media (min-width: 600px) and (max-width: 839px) {
  /* line 1, ../../../components/sass/modules/aside.scss */
  aside {
    width: 100%;
    float: none;
  }
}
@media (min-width: 840px) and (max-width: 959px) {
  /* line 1, ../../../components/sass/modules/aside.scss */
  aside {
    width: 33%;
    float: left;
  }
}
@media (min-width: 960px) and (max-width: 1023px) {
  /* line 1, ../../../components/sass/modules/aside.scss */
  aside {
    width: 33%;
    float: left;
  }
}
@media (min-width: 1024px) {
  /* line 1, ../../../components/sass/modules/aside.scss */
  aside {
    width: 30%;
    float: left;
  }
}

/* line 2, ../../../components/sass/_mixins.scss */
.clearFix:before, .clearFix:after {
  content: '';
  display: table;
}
/* line 7, ../../../components/sass/_mixins.scss */
.clearFix:after {
  clear: both;
}

/* line 40, ../../../components/sass/modules/aside.scss */
.container-fluid .row header img {
  display: block;
  width: 70%;
  padding: 25px 0;
  margin-left: 38%;
}
@media (min-width: 220px) and (max-width: 319px) {
  /* line 40, ../../../components/sass/modules/aside.scss */
  .container-fluid .row header img {
    width: 52%;
    margin: 0 auto;
  }
}
@media (min-width: 320px) and (max-width: 479px) {
  /* line 40, ../../../components/sass/modules/aside.scss */
  .container-fluid .row header img {
    width: 50%;
    margin: 0 auto;
  }
}
@media (min-width: 480px) and (max-width: 599px) {
  /* line 40, ../../../components/sass/modules/aside.scss */
  .container-fluid .row header img {
    width: 50%;
    margin: 0 auto;
  }
}
@media (min-width: 600px) and (max-width: 839px) {
  /* line 40, ../../../components/sass/modules/aside.scss */
  .container-fluid .row header img {
    width: 22%;
    margin: 0 auto;
  }
}
@media (min-width: 840px) and (max-width: 959px) {
  /* line 40, ../../../components/sass/modules/aside.scss */
  .container-fluid .row header img {
    width: 68%;
    margin-left: 31%;
  }
}
@media (min-width: 960px) and (max-width: 1023px) {
  /* line 40, ../../../components/sass/modules/aside.scss */
  .container-fluid .row header img {
    width: 60%;
  }
}
@media (min-width: 1024px) {
  /* line 40, ../../../components/sass/modules/aside.scss */
  .container-fluid .row header img {
    width: 60%;
  }
}

/* line 84, ../../../components/sass/modules/aside.scss */
.jobTitle {
  background-color: white;
  width: 100%;
  height: 50px;
}
/* line 89, ../../../components/sass/modules/aside.scss */
.jobTitle p {
  color: #fdc20e;
  line-height: 50px;
  font-weight: 900;
  font-size: 1.35em;
  text-align: center;
}
@media (min-width: 840px) and (max-width: 959px) {
  /* line 89, ../../../components/sass/modules/aside.scss */
  .jobTitle p {
    text-align: right;
    margin-right: 2%;
  }
}
@media (min-width: 960px) and (max-width: 1023px) {
  /* line 89, ../../../components/sass/modules/aside.scss */
  .jobTitle p {
    text-align: right;
    margin-right: 2%;
  }
}
@media (min-width: 1024px) {
  /* line 89, ../../../components/sass/modules/aside.scss */
  .jobTitle p {
    text-align: right;
    margin-right: 2%;
  }
}
/* line 127, ../../../components/sass/modules/aside.scss */
.jobTitle p img {
  width: 17px;
  height: 17px;
  display: inline-block;
}

/* line 135, ../../../components/sass/modules/aside.scss */
.expandButton {
  background: none;
  width: 50%;
  border: none;
  color: #fdc20e;
  font: "Volkhov", "Georgia", "times-new-roman" 1em 900;
  margin: 10px 0 15px 0;
  transition: all 0.3s ease;
}
/* line 144, ../../../components/sass/modules/aside.scss */
.expandButton :hover {
  cursor: pointer;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
/* line 151, ../../../components/sass/modules/aside.scss */
.expandButton img {
  width: 20%;
}
@media (min-width: 320px) and (max-width: 479px) {
  /* line 151, ../../../components/sass/modules/aside.scss */
  .expandButton img {
    width: 20%;
  }
}
@media (min-width: 480px) and (max-width: 599px) {
  /* line 151, ../../../components/sass/modules/aside.scss */
  .expandButton img {
    width: 20%;
  }
}
@media (min-width: 600px) and (max-width: 839px) {
  /* line 151, ../../../components/sass/modules/aside.scss */
  .expandButton img {
    width: 20%;
  }
}
@media (min-width: 600px) and (max-width: 839px) {
  /* line 135, ../../../components/sass/modules/aside.scss */
  .expandButton {
    display: none;
  }
}
@media (min-width: 840px) and (max-width: 959px) {
  /* line 135, ../../../components/sass/modules/aside.scss */
  .expandButton {
    display: none;
  }
}
@media (min-width: 960px) and (max-width: 1023px) {
  /* line 135, ../../../components/sass/modules/aside.scss */
  .expandButton {
    display: none;
  }
}
@media (min-width: 1024px) {
  /* line 135, ../../../components/sass/modules/aside.scss */
  .expandButton {
    display: none;
  }
}

/* line 187, ../../../components/sass/modules/aside.scss */
.myDetailsVertical {
  display: block;
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 220px) and (max-width: 319px) {
  /* line 187, ../../../components/sass/modules/aside.scss */
  .myDetailsVertical {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 479px) {
  /* line 187, ../../../components/sass/modules/aside.scss */
  .myDetailsVertical {
    display: none;
    width: 60%;
  }
}
@media (min-width: 480px) and (max-width: 599px) {
  /* line 187, ../../../components/sass/modules/aside.scss */
  .myDetailsVertical {
    display: none;
    width: 55%;
  }
}
@media (min-width: 600px) and (max-width: 839px) {
  /* line 187, ../../../components/sass/modules/aside.scss */
  .myDetailsVertical {
    display: none;
    width: 100%;
  }
}
/* line 211, ../../../components/sass/modules/aside.scss */
.myDetailsVertical ul {
  margin: 25px 0;
}
/* line 213, ../../../components/sass/modules/aside.scss */
.myDetailsVertical ul li {
  height: auto;
  margin-top: 15px;
}
/* line 216, ../../../components/sass/modules/aside.scss */
.myDetailsVertical ul li h2 {
  color: #fdc20e;
  margin-bottom: 10px;
}
@media (min-width: 600px) and (max-width: 839px) {
  /* line 216, ../../../components/sass/modules/aside.scss */
  .myDetailsVertical ul li h2 {
    margin-top: 0;
  }
}
/* line 223, ../../../components/sass/modules/aside.scss */
.myDetailsVertical ul li h2 img {
  margin-right: 50px;
}
/* line 227, ../../../components/sass/modules/aside.scss */
.myDetailsVertical ul li p {
  font-family: "Raleway", "arial", "san-serif";
}
/* line 229, ../../../components/sass/modules/aside.scss */
.myDetailsVertical ul li p i {
  font-weight: 900;
}
@media (min-width: 600px) and (max-width: 839px) {
  /* line 213, ../../../components/sass/modules/aside.scss */
  .myDetailsVertical ul li {
    display: inline-block;
  }
}
/* line 239, ../../../components/sass/modules/aside.scss */
.myDetailsVertical ul .pc-skills-vertical h2 {
  margin: 10px 0 10px 0;
  color: #fdc20e;
}
/* line 243, ../../../components/sass/modules/aside.scss */
.myDetailsVertical ul .pc-skills-vertical ul {
  margin: 0;
}
/* line 245, ../../../components/sass/modules/aside.scss */
.myDetailsVertical ul .pc-skills-vertical ul li {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 5px;
}
/* line 252, ../../../components/sass/modules/aside.scss */
.myDetailsVertical ul .pc-skills-vertical ul .no-margin {
  margin-right: 0;
}

/* line 262, ../../../components/sass/modules/aside.scss */
.myDetailsHoriz {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 220px) and (max-width: 319px) {
  /* line 262, ../../../components/sass/modules/aside.scss */
  .myDetailsHoriz {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 479px) {
  /* line 262, ../../../components/sass/modules/aside.scss */
  .myDetailsHoriz {
    display: none;
  }
}
@media (min-width: 480px) and (max-width: 599px) {
  /* line 262, ../../../components/sass/modules/aside.scss */
  .myDetailsHoriz {
    display: none;
  }
}
@media (min-width: 840px) and (max-width: 959px) {
  /* line 262, ../../../components/sass/modules/aside.scss */
  .myDetailsHoriz {
    display: none;
  }
}
@media (min-width: 960px) and (max-width: 1023px) {
  /* line 262, ../../../components/sass/modules/aside.scss */
  .myDetailsHoriz {
    display: none;
  }
}
@media (min-width: 1024px) {
  /* line 262, ../../../components/sass/modules/aside.scss */
  .myDetailsHoriz {
    display: none;
  }
}
/* line 290, ../../../components/sass/modules/aside.scss */
.myDetailsHoriz ul {
  margin: 25px auto;
  width: 90%;
}
/* line 294, ../../../components/sass/modules/aside.scss */
.myDetailsHoriz ul li {
  display: inline-block;
  width: 240px;
  height: auto;
  margin: 5px;
}
/* line 299, ../../../components/sass/modules/aside.scss */
.myDetailsHoriz ul li h2 {
  margin: 10px 0;
  color: #fdc20e;
}
/* line 303, ../../../components/sass/modules/aside.scss */
.myDetailsHoriz ul li p {
  font-family: "Raleway", "arial", "san-serif";
}
/* line 305, ../../../components/sass/modules/aside.scss */
.myDetailsHoriz ul li p i {
  font-weight: 900;
}
/* line 313, ../../../components/sass/modules/aside.scss */
.myDetailsHoriz .pc-skills-horizontal h2 {
  margin: 10px 0;
  color: #fdc20e;
}
/* line 317, ../../../components/sass/modules/aside.scss */
.myDetailsHoriz .pc-skills-horizontal ul {
  width: 90%;
}
/* line 319, ../../../components/sass/modules/aside.scss */
.myDetailsHoriz .pc-skills-horizontal ul li {
  width: 50px;
}

/* line 326, ../../../components/sass/modules/aside.scss */
.remove {
  margin: 0 0 0 -2000px;
}

/* line 331, ../../../components/sass/modules/aside.scss */
.link-hover:hover {
  color: #fdc20e;
  -webkit-transition: all .5s ease;
}

/* line 337, ../../../components/sass/modules/aside.scss */
.phoneIco,
.emailIco,
.addressIco,
.portfolioIco,
.linkdenIco,
.languageIco,
.interestsIco,
.pcskillsIco {
  position: relative;
}

/* line 350, ../../../components/sass/modules/aside.scss */
.emailIco {
  top: 2px;
  -webkit-transition: all .5s ease;
}

/* line 355, ../../../components/sass/modules/aside.scss */
.emailIco:hover {
  -webkit-transform: translateX(10px);
  cursor: pointer;
}

/* line 361, ../../../components/sass/modules/aside.scss */
.addressIco {
  left: 18px;
  top: 1px;
}

/* line 366, ../../../components/sass/modules/aside.scss */
.portfolioIco {
  top: 3px;
  left: 23px;
}

/* line 371, ../../../components/sass/modules/aside.scss */
.linkdenIco {
  left: 22px;
  top: 2px;
  -webkit-transition: all .5s ease;
}

/* line 377, ../../../components/sass/modules/aside.scss */
.linkdenIco:hover {
  -webkit-transform: translateX(10px);
  cursor: pointer;
}

/* line 382, ../../../components/sass/modules/aside.scss */
.languageIco {
  left: 28px;
  top: 3px;
}

/* line 387, ../../../components/sass/modules/aside.scss */
.interestsIco {
  left: 10px;
  top: 3px;
}

/* line 392, ../../../components/sass/modules/aside.scss */
.pcskillsIco {
  left: 18px;
  top: 3px;
}

/* line 399, ../../../components/sass/modules/aside.scss */
.interest-bold {
  font-weight: 900;
}

/* line 403, ../../../components/sass/modules/aside.scss */
.interest-thin {
  font-weight: 200;
}
